body {
    min-width: 960px;
}
.layout {
    margin-bottom: -107px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.push {
    clear: both;
    height: 107px;
}
.l-container {
    margin: 0 auto;
    width: 960px;
}

/* header */
.header .l-container {
    height: 108px;
    overflow: hidden;
}
    .header__logo {
        float: left;
        padding: 7px 0 0 30px;
        background-position: 30px 7px;
    }
    .header__contacts {
        float: right;
        padding: 33px 93px 0 0;
        text-align: right;
    }
        .header__contacts span {
            margin-bottom: -3px;
        }
/* END header */

/* content */
.main {
    float: right;
    width: 638px;
    padding-top: 75px;
}
    .slogan {
        padding-top: 22px;
        font: italic 18px/24px 'PT Sans', sans-serif;
        padding-right: 88px;
    }
    .order {
        overflow: hidden;
        padding: 28px 0 0 28px;
    }
        .btn-wrap {
            float: left;
            margin-top: 18px;
        }
        .opt {
            float: right;
            padding-right: 77px;
        }
            .opt li {
                margin-bottom: 4px;
            }
                .opt span {
                    display: inline-block;
                    margin-right: 6px;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    font: normal 13px/18px Arial,sans-serif;
                    color: #c5c5c5;
                    border: 2px solid;
                    -webkit-border-radius: 22px;
                    -moz-border-radius: 22px;
                    -o-border-radius: 22px;
                    border-radius: 22px;
                }
.scroll {
    float: left;
    margin-left: -205px;
    height: 475px;
    width: 490px;
}
    .scroll__ipad {
        margin-top: 44px;
        height: 389px;
        background: url(../../img/ipad.png) 0 0 no-repeat;
    }
    .scroll__iphone {
        margin: 78px 0 5px;
        height: 348px;
        background: url(../../img/iphone.png) 244px 0 no-repeat;
    }
    .scroll__macbook {
        margin-top: 20px;
        height: 427px;
        background: url(../../img/macbook.png) 0 0 no-repeat;
    }
    .scroll__text {
        float: right;
        width: 145px;
        padding-right: 89px;
        font-size: 12px;
    }
        .scroll__text strong {
            font-size: 14px;
        }
.service-wrap {
    float: right;
    overflow: hidden;
    margin: -128px 0 0 0;
    padding-right: 67px;
}
    .service {
        float: left;
        padding-right: 21px;
    }
.logos {
    margin: 57px 0 10px 0;
}
    .logos img {
        margin-right: 31px;
        vertical-align: middle;
    }
/* END content */

/* END footer */
.footer .l-container {
    height: 107px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

/* END footer */
    .footer__contacts {
        float: left;
        padding: 39px 0 0 0;
    }
    .footer__info {
        float: left;
        padding: 37px 0 0 115px;
        width: 265px;
    }
    .footer__logo {
        float: right;
        padding: 18px 92px 0 0;
        background-position: 0 18px;
    }
